.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    left: 50vw;
}

.container--field {
    margin: 10px;
    margin-bottom: 20px;
    flex: 1
}

.container--option {
    margin: 20px;
    flex: 2;
    width: 100px;
    display: inline-flex;
}

body > #root > div {
    height: 100vh;
}

.app {
    height: 100vh;
}