.MuiTypography-colorSecondary{
    color: white;
}

.MuiButton-text{
    justify-content: center;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-image: linear-gradient(135deg, #172a74, #21a9af);
}

