html {
    background-image: linear-gradient(royalblue, lightblue);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

body > #root > div {
    height: 100vh;
}