html, .app {
    background-image: linear-gradient(royalblue, lightblue);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

body > #root > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}